<div class="body2">
  <h5 class="card-title text-center">Sign Up</h5>
  <div class="user">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form'}) do |f| %>
  <%= devise_error_messages! %>

  <div class="form__group">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form__input" %>
  </div>

  <div class="form__group">
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "New Password (6 characters minimum)", class: "form__input" %>
  </div>

  <div class="form__group">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm Password", class: "form__input" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: 'btn2' %>
  </div>
<% end %>
</div>
</div>
<script  src="js/index.js"></script>
