<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
<%= form_with model: @task, local: true do |form|%>

  <% if @task.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <p>
        <%= pluralize(@task.errors.count, "error") %> prohibited
        this task from being saved:
      </p>
      <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :deadline %><br>
    <%= form.text_field :deadline, class: 'form-control' %>
  </div>
<br />
  <div>
    <%= form.label :task %><br>
    <%= form.text_area :task, class:'text', class: 'form-control' %>
  </div>

  <p>
    <%= form.submit class:'submit', style: 'margin-top: 30px'%>
  </p>
<% end %>
        </div>
      </div>
    </div>
  </div>
</div>
