<div class="body2">

  <h5 class="card-title text-center">Sign In</h5>
  <div class="user">
<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form'}) do |f| %>
  <div class="form__group">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form__input" %>
  </div>

  <div class="form__group">
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "password", class: "form__input" %>
  </div>
  <div class="actions">
    <%= f.submit "Log in", class: 'btn2'%>
  </div>
      <br />
    <p><%= link_to 'Forget Password', new_user_password_path %></p>
      <p> Don't have an account?</p>
      <p> <%= link_to 'Sign up', new_user_registration_path %></p>
        <% end %>
  </div>
  </div>
<script  src="js/index.js"></script>
